div {
    padding: 10px;
    margin: 0px;
}
body {
    margin: 0px;
}
.header {
    background-color: grey;
    text-align: center;
}
.navbar {
    background-color: black;
    color: white;
    text-align: center;
}
a {
    color: white;
    text-decoration: none;
}
.s1 {
    background-color: gray;
    flex-basis: 40%;
    text-align: center;
}
.s2 {
    background-color: darkgray;
    text-align: center;
    flex-basis: 60%;
}
.flex {
    padding: 0px;
    display: flex;
}
img {
    width: 100px;
    height: 100px;
    border: 2px black solid; margin: 5px;
}
.footer {
    background-color: black;
    text-align: center;
    color: white;
}
@media (max-width: 900px) {
    .flex {
        flex-direction: column;
    }
}